<?xml version="1.0"?>
<launch>
    <remap from="/image" to="/astra/rgb/image_raw"/>
    <node pkg="zbar_ros" type="barcode_reader_node" name="barcode_reader_node" output="screen"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(find rc_package)/world/real_world.yaml"/>


    <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find rc_package)/rviz/guide.rviz"
    />
    

    <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher" />
    
    <include file="$(find rc_package)/launch/amcl.launch">
        <arg name="initial_pose_x" default="0.0"/>
        <arg name="initial_pose_y" default="0.0"/>
        <arg name="initial_pose_a" default="0.0"/>
    </include>
    <include file="$(find rc_package)/launch/move_base_hw.launch"/>
    <include file="$(find pal_person_detector_opencv)/launch/detector.launch">
        <arg name="image" default="/astra/rgb/image_raw"/>
    </include>
</launch>
